@page
@model IgnisMercadoModel

    <center>
    <h1>
        <b><p style="color:rgb(255,88,53);"><font face="Calibri">Ignis Mercado</font></p></b><br>
    </h1>
    </center>
    <div class="row">
        <div class="col-md-5">
            <section>
                <form id="account" method="post">
                    <h4>
                        
                        <p style="color:rgb(255,88,53);">Quiénes somos<br></p>
                        
                    </h4>  

                    <body>Nuestro nombre significa <b><font size=4>fuego</font></b> en latín. Un fuego que <b><font size=4>crea</font></b> y <b><font size=4>crece</font></b>.<br><br>  
                        Nuestra visión es convertirnos en un <b><font size=4>polo universitario que dé impulso a la producción audiovisual nacional</font></b>, de comunicación, arte y entretenimiento, para Uruguay y el mundo.<br><br>
                        Nuestro logo hace una referencia explícita a la economía naranja que es el sector de la economía que se centra en la cultura, la creatividad y la identidad.<br><br>
                        Nuestras disciplinas son el cine, el audiovisual, las animaciones, la fotografía, el dibujo, la ilustración, el diseño gráfico, la producción sonora, musical y/o radial, 
                        la producción digital, la programación, el multimedia y sus combinaciones con las artes visuales en general.</body><br>

                </form>
            </section>
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <section>
                <h4>
                    <p style="color:rgb(255,88,53);">Catálogo 2019<br></p>
                </h4>
                    <body>
                    <a title="Catálogo 2019" href="https://issuu.com/centroignis/docs/catalogo-centroignis-ucu-2019-04-10">
                    <img src="https://ucu.edu.uy/sites/default/files/centro-ignis/catalogo-ignis2019.jpg" alt="Catálogo 2019" HSPACE="10" VSPACE="10"/></a> 
                    <body></body> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/a3tLWZPbhrA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </body>
            </section>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

