@page

@model Proyecto.Pages.YourProjectsModel
@{

    ViewData ["Title"] = "Your Projects";
}
<section id="main">
    <h1>Details</h1>

<div>
    <h4>Proyectos en los que estas trabajando</h4>
    
</section>
