@page
@model Proyecto.Pages.Roles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Desea eliminar este registro?</h3>
<div>
    <h4>Rol</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.RolDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.RolDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Role.level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role.level.RolLvlDescription)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Role.RoleId" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-page="./Index">Volver</a>
    </form>
</div>
