@page
@model Proyecto.Pages.HiringCosts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>HiringCost</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="HiringCost.HirCosId" />
            <div class="form-group">
                <label asp-for="HiringCost.RolLvlId" class="control-label"></label>
                <select asp-for="HiringCost.RolLvlId" class="form-control" asp-items="ViewBag.RolLvlId"></select>
                <span asp-validation-for="HiringCost.RolLvlId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiringCost.HirCosHourly" class="control-label"></label>
                <input asp-for="HiringCost.HirCosHourly" class="form-control" />
                <span asp-validation-for="HiringCost.HirCosHourly" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiringCost.HirCosAdditional" class="control-label"></label>
                <input asp-for="HiringCost.HirCosAdditional" class="form-control" />
                <span asp-validation-for="HiringCost.HirCosAdditional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiringCost.HirCosFull" class="control-label"></label>
                <input asp-for="HiringCost.HirCosFull" class="form-control" />
                <span asp-validation-for="HiringCost.HirCosFull" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
